OPENAI_API_KEY=
LLM_TEMPERATURE=0.7
N8N_WEBHOOK_URL=http://localhost:5678/webhook/pricing-alert

LANGSMITH_API_KEY=
LANGSMITH_TRACING="true"
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_PROJECT="ride_flow"

# N8N Webhook Integration
# N8N_WEBHOOK_URL="https://n8n.srv1088472.hstgr.cloud/webhook/4c575b52-6e76-47bb-9ba0-4b2e6c20a942"
# N8N_WEBHOOK_ENABLED=true