OPENAI_API_KEY=
LLM_TEMPERATURE=0.7
N8N_WEBHOOK_URL=http://localhost:5678/webhook/pricing-alert

LANGSMITH_API_KEY=
LANGSMITH_TRACING="true"
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_PROJECT="ride_flow"